<div class="bgbar vh-200" id="dashBoard">
  <div class="container pt-5 pb-5">
      <form class="d-flex justify-content-center">
          <input class="form-control me-2" type="search" placeholder="Search" (ngModelChange)="searchground(key.value)" name="key" #key="ngModel" ngModel aria-label="Search">
        <!--  <button class="btn btn-success" id="searchButton" type="submit">Search</button>-->
        </form>
      <div class="col-12">
          <div class="d-flex flex-wrap justify-content-around pt-5">
          <div *ngFor="let ground of grounds">
          <div class="card shadow mt-2 mb-4" id="grid{{ground.groundId}}" (click)=bookGround(ground.groundId)>
              <img class="card-img-top" src="{{ground.imageURL}}" class="rounded" width="286" height="236" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title"><a [title]="ground.groundName + ' details'">
                      {{ ground.groundName }}
                    </a></h4>
                    <p class="card-text"*ngIf="ground.groundAddress">
                      <strong> Place:</strong> {{ ground.groundAddress }}</p>
                  <p class="card-text"*ngIf="ground.groundDescription">
                      <strong> Description:</strong> {{ ground.groundDescription }}</p>
                      <p class="card-text"*ngIf="ground.GroundTiming">
                        <strong> Timing:</strong> {{ ground.GroundTiming }}</p>
                      <p class="card-text"*ngIf="ground.price">
                       <strong> Price:</strong> {{ ground.price }}</p>

                       <a class="btn btn-primary me-2" (click)=viewReview(ground.groundId) id="editGround">Reviews</a>
              <a ><button class="btn btn-primary me-2" [disabled]="ground.Status==false" (click)=addBooking(ground.groundId) id="addGround">Book</button></a>
              </div>

              
            <!--  <div class="row justify-content-around">
                <a class="btn btn-primary col-md-5  ms-2 mb-2 fa fa-hand-back-point-up" (click)="openbook(contentbook)"  id="editGround"> 
                  book ground</a>
                <a class="btn btn-danger col-md-5  me-2 mb-2 fa-solid fa-eye"(click)="openview(contentview)" id="viewGround"> view</a>
                </div>
              -->
          </div>
      </div>
      
      </div>




      <div  *ngIf="grounds?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
        <div class="alert alert-info" role="alert">
          <h4 class="alert-heading">NO GROUNDS FOUND!</h4>
          <p>No ground were found</p>
        </div>
      </div>
  </div>
</div>

</div>






<!--  

<ng-template #contentbook let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New booking</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body justify-content-center">
    <div  class=" card shadow elevation-z4 justify-content-center" id="dsgrid1">
      <div class="card-header" >
        <div class="card-title">Available</div>
      </div>
      <div class="card-title">Ground Name</div>
      <div class="card-body">
        <label for="place">Place :  </label>
        <input id="place" placeholder="Enter place">
    <br>
    <label for="fillFromDate">From :  </label>
    <input type="date" id="fillFromDate" name="From-Date" value=""
           min="2020-03-01" max="2020-04-31">
      <label for="fillToDate">To :  </label>
      <input type="date" id="fillToDate" name="To-Date" value=""
                  min="2020-03-01" max="2020-04-31">
       <br>
        <label for="noofpersons">No. of Persons:</label>
        <input placeholder="Enter no. of persons" id="enterNoTicket">
        <br>
        <p style="padding: 5px;"> Price: per head 1500</p>
        <br>
        <button class="btn btn-success w-50" id="bookButton">Book</button>
        
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">cancel</button>
  </div>
</ng-template>







view ground 



<ng-template #contentview let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">View Ground</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    ....
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">cancel</button>
  </div>
</ng-template>
 

-->
 
