<div class="container vh-100">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow">
            <div class="card-body px-5">
               
                <div class="text-center">
                    <h2>Welcome</h2>
                </div>
                <p class="subtitle">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter your mobileNumber.&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;You will receive OTP...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="text" id="mobileNumber" placeholder="mobileNumber" class="form-control" formControlName="mobileNumber"
                            name="mobileNumber" [ngClass]="{ 'is-invalid': submitted && f['mobileNumber'].errors }" >
                            <div *ngIf="submitted && f['mobileNumber'].errors" class="invalid-feedback">  
                                <div *ngIf="f['mobileNumber'].errors['required']">Mobile Number is required.</div>  
                                <div *ngIf="f['mobileNumber'].errors['pattern']">Please, Enter 10 digit Mobile Number.</div>  
                            </div>  
                    </div>
                    <button type="button" class="btn btn-success w-100" id="verify">verify</button>

                    <div class="form-group">
                        <input type="password" id="password" placeholder="Password" class="form-control"
                            formControlName="password" name="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
                            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                <div *ngIf="f['password'].errors['required']">Password is required</div>
                                <div *ngIf="f['password'].errors['minlength']">
                                  Password must be 6 numbers
                                </div>
                              </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary w-100" id="Mobilelogin">Login</button>
                    <button type="button" class="btn btn-dark w-100" routerLink="../login" id="Login">Login with Email</button>
                </form>
            </div>
            
        </div>
    </div>
</div>
