<div class="bgbar">
    <div class="container pt-5 pb-5">
        <form class="d-flex justify-content-center">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        <div class="col-12">
            <div class="d-flex flex-wrap justify-content-around pt-5">
            <div *ngFor="let ground of grounds">
            <div class="card shadow mt-2 mb-4">
                <img class="card-img-top" src="../../../assets/ground2.jpg" class="rounded" width="286" height="236" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a [title]="ground.name + ' details'">
                        {{ ground.name }}
                      </a></h5>
                    <p class="card-text"*ngIf="ground.description">
                        <strong> Description:</strong> {{ ground.description }}</p>
                        <p class="card-text"*ngIf="ground.price">
                         <strong> Price:</strong> {{ ground.price }}</p>
                    <a class="btn btn-primary me-2" routerLink="../Mybooking">Book Now</a>
                    
                </div>
            </div>
        </div>
        
        </div>
    </div>
</div>
   
