<div class="container pt-5 pb-5">
    <div class="d-flex">
    <button class="btn btn-primary mb-2 me-2" routerLink="../adduser">Add User</button>
    </div>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">User Name</th>
                <th scope="col">Email-id</th>
                <th scope="col">Role</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Password</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Yadav424</td>
                <td>yshashi45@gmail.com</td>
                <td>User</td>
                <td>9442025352</td>
                <td>--</td>
                <td>
                    <button class="btn btn-info" routerLink="../edituser">Edit</button>
                    <button class="btn btn-danger mx-3" routerLink="../deleteuser">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    
