<div class="container vh-100">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow">
            <div class="card-body p-5">
                <div class="text-center">
                    <h2>Forgot Password</h2>
                </div>
                <p class="subtitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;Please enter valid email id</p>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="email" id="email" placeholder="Email" class="form-control" formControlName="email"
                           name="email" 
                            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"/>
                             <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                     <div *ngIf="f['email'].errors['required']">Email is required</div>
                                     <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                            </div>
                    </div>

                    <button type="button" class="btn btn-success w-100" id="verify">verify</button>

                    <p class="subtitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;Please enter new password</p>
                    <div class="form-group">
                        
                        <input id="password" type="password" placeholder="Password" formControlName="password" class="form-control" 
                                 [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                            <div *ngIf="f['password'].errors['required']">Password is required</div>
                            <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
                         </div>
                   </div>
                   <div class="form-group">     
                            <input id="confirmPassword" type="password" placeholder="Confirm Password" formControlName="confirmPassword" class="form-control" 
                                [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
                            <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                                 <div *ngIf="f['confirmPassword'].errors['required']">Confirm Password is required</div>
                                <div *ngIf="f['confirmPassword'].errors['mustMatch']">Passwords must match</div>
                             </div>
                    </div>
                    <button type="submit" class="btn btn-dark w-100" id="Reset">Reset Password</button>
                </form>
            </div>
            <div class="card-footer text-right">
                <small>Ohh I remember <a routerLink="../login" href="/"> Back to Login</a></small>
            </div>
        </div>
    </div>
</div>