.container{
    background: linear-gradient(#5e67eb, #7970f3);
}
.card{
    margin: 0%;
    width: 12cm;
}
.form-group {
    margin-bottom:15px;}

.subtitle{
    color: lightslategray;
}
.btn{
    margin-bottom:15px; 
}