<div class="bgbar">
    <div class="container pt-5 pb-5">
        <div class="row justify-content-center h-100">
            <div class="d-flex flex-wrap justify-content-center">
                <div class="card shadow mt-2 ">
                    <div class="card-body px-5">
                    <h5 class="card-title">Edit Ground</h5>
            <form class="form"> 
                <div class="form-group form-floating">
                  <input type="text"
                  id="GroundName" placeholder="Ground Name" 
                  class="form-control" formControlName="GroundName" />
                  <label>Ground Name</label>
                </div>
                <div class="form-group form-floating">
                    <input type="text"
                    id="GroundPrice" placeholder="Ground Price" 
                    class="form-control" formControlName="GroundPrice" />
                    <label>Ground Price</label>
                </div>
                  <div class="form-group form-floating">
                    <input type="text"
                     id="GroundLocation" placeholder="Ground Location" 
                     class="form-control" formControlName="GroundLocation" />
                     <label>Ground Location</label>
                  </div>
                  <div class="form-group form-floating">
                    <input type="text"
                    id="GameType" placeholder="Game Type" 
                    class="form-control" formControlName="GameType"/>
                    <label>Game Type</label>
                  </div>
                  <div class="form-group  form-floating">
                    <input type="text" placeholder="Ground Description"
                   id="GroundDescription" class="form-control" formControlName="GroundDescription" />
                    <label>Ground Description</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Image Url</label>
                    <input type="text" placeholder="imageUrl" class="form-control" formControlName="imageFile" id="imageFile"/>
                  </div>
  
               <button class="btn btn-primary me-2" type="submit"  >Save Changes</button>
               <a routerLink="../dashboard" href="" class="btn btn-white-link">Cancel</a>
              </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
  