<div class="bgbar">
    <div class="container pt-5 pb-5">
        <form class="d-flex justify-content-center">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        <div class="col-12">
            <div class="d-flex flex-wrap justify-content-around pt-5">
               
                <div class="card shadow mt-2 grid">
                    <img class="card-img-top " src="../../../assets/ground3.jpg" class="rounded" width="286" height="236" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">GroundName</h5>
                        <p class="card-text">Ground description</p>
                        <a class="btn btn-primary me-2" routerLink="../editgrd">Edit Ground</a>
                        <a class="btn btn-danger" routerLink="../deleteground">Delete ground</a>
                    </div>
                </div>
                <div class="card shadow mt-2">
                    <img class="card-img-top" src="../../../assets/ground1.jpg" class="rounded" width="286" height="236" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">GroundName</h5>
                      <p class="card-text">Ground description</p>
                      <a class="btn btn-primary me-2" routerLink="../editgrd">Edit Ground</a>
                      <a class="btn btn-danger" routerLink="../deleteground">Delete ground</a>
                    </div>
                  </div>
                <div class="card shadow mt-2">
                    <img class="card-img-top" src="../../../assets/ground2.jpg" class="rounded" width="286" height="236" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">GroundName</h5>
                        <p class="card-text">Ground description</p>
                        <a class="btn btn-primary me-2" routerLink="../editgrd">Edit Ground</a>
                        <a class="btn btn-danger" routerLink="../deleteground">Delete ground</a>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-wrap justify-content-around pt-5">
                <div class="card shadow mt-2">
                    <img class="card-img-top" src="../../../assets/ground3.jpg" class="rounded" width="286" height="236" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">GroundName</h5>
                        <p class="card-text">Ground description</p>
                        <a class="btn btn-primary me-2" routerLink="../editgrd">Edit Ground</a>
                        <a class="btn btn-danger" routerLink="../deleteground">Delete ground</a>
                    </div>
                </div>
                <div class="card shadow mt-2">
                    <img class="card-img-top" src="../../../assets/ground1.jpg" class="rounded" width="286" height="236" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Ground description</p>
                        <a class="btn btn-primary me-2" routerLink="../editgrd">Edit ground</a>
                        <a class="btn btn-danger" routerLink="../deleteground">Delete ground</a>
                    </div>
                </div>
                <div class="card shadow mt-2">
                    <img class="card-img-top" src="../../../assets/ground2.jpg" class="rounded" width="286" height="236" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">GroundName</h5>
                        <p class="card-text">Ground description</p>
                        <a class="btn btn-primary me-2" routerLink="../editgrd">Edit ground</a>
                        <a class="btn btn-danger" routerLink="../deleteground">Delete ground</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    </div>