<div class="bgbar">
    <div class="container pt-5 pb-5">
        <div class="row justify-content-center h-100">
            <div class="d-flex flex-wrap justify-content-center">
                <div class="card shadow mt-2 ">
                    <div class="card-body px-5">
                    <h5 class="card-title">Add Admin</h5>
            <form class="form"> 
            <div class="form-group form-floating">
              <input type="text"placeholder="Enter First Name" id="firstName"
              class="form-control" formControlName="firstName"/>
              <label>Enter First Name</label>
            </div>
            <div class="form-group form-floating">
                <input type="text" placeholder="Enter Last Name" id="lastName"
                class="form-control" formControlName="lastName"/>
                <label>Enter lastName</label>
            </div>
              <div class="form-group form-floating">
                <input type="email" placeholder="Enter Email-id" id="emailId"
                class="form-control" formControlName="emailId"/>
                <label>Enter Email-id</label>
            </div>
              <div class="form-group form-floating">
                <input type="tel" placeholder="Enter Phone Number" id="PhoneNumber"
                class="form-control" formControlName="PhoneNumber"/>
                <label>Enter Phone Number</label>
            </div>
              <div class="form-group form-floating">
                <input type = "password" placeholder="Enter Password" id="password"
                class="form-control" formControlName="password"/>
                <label>Enter Password</label>
            </div>
            <div class="form-group form-floating">
                <input type = "password" placeholder="Re-Enter Password" id="repassword"
                class="form-control" formControlName="repassword"/>
                <label>Re-Enter Password</label>
            </div>
        <button class="btn btn-primary" type="submit" (change)="adminSignup()">Submit</button>
            </form>
          </div>
        </div>
      </div>
   </div>
 </div>
</div>
