<div class="bgbar">
    <div class="container pt-5 pb-5">
        <div class="col-12">
            <div class="d-flex flex-wrap justify-content-center">
                <div class="card shadow mt-2">
                    <div class="card-body">
                        <h5 class="card-title">Welcome User!</h5>
                        <p class="card-text">You can see Book Ground Here!</p>
                        <a class="btn btn-primary" href="/">Go to Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
