.card{
    margin: 0%;
    width: 12cm;
}
.card-header{
    color: rgb(248, 248, 250); 
    background-color: rgb(45, 29, 197);
 }
.form-group {
    margin-bottom:15px;
}
.subtitle{
    color: lightslategray;
    text-align: center;
}
.btn{
    margin-bottom:15px; 
}