.card{
    margin: 0%;
    width: 15cm;  
}
.card-header{
    color: rgb(248, 248, 250); 
    background-color: rgb(20, 14, 71);
    text-align: center;
 }
.bgbar{
    background-color: #ebecf5;
}
.form-group {
    margin-bottom:15px;}
