<div class="bgbar">
    <div class="contain pt-5 pb-5">
      <div class="row ">
        <div class="d-flex flex-wrap justify-content-center">
          <div  class=" card shadow elevation-z4">
            <div class="card-header" >
              <div class="card-title">Edit Booking Details</div>
            </div>
            <div class="card-body px-5">
          <form class="form">
            <div>
              <input placeholder="Turfname" name="Turfname">
          </div>
            <div>
              <input placeholder="Address" name="address">
            </div>
            <div>
              <input type="date" placeholder="From date:" id="editBookingDate" name="trip-start" value=""
              min="2020-03-01" max="2020-04-31">
            </div>
            <div>
              <input type="date" placeholder="To date:" id="editBookingDate1" name="trip-start" value=""
              min="2020-03-01" max="2020-04-31">
            </div>
            <div>
              <input placeholder="No. of persons" name="noofpersons" id="editNoOfPerson">
            </div>
            <div>
              <input placeholder="Total Price" name="Total price">
            </div>
                <button  type="submit" class="btn btn-primary w-50 me-2" routerLink="../bookedgrounds">Save</button>
             
            </form>
            
          </div>
    </div>
    </div>
    </div>
    </div>
    </div>