<div class="bgbar">
  <div class="container pt-5 pb-5">
      <div class="row justify-content-center h-100">
          <div class="d-flex flex-wrap justify-content-center">
              <div class="card shadow mt-2 ">
                  <div class="card-body px-5">
                  <h5 class="card-title">Edit Booked Ground</h5>
          <form [formGroup]="editBookGroundForm" class="form"> 
                <div class="form-group form-floating">
                  <input type="number"
                   id="GroundLocation" placeholder="Enter Number of Persons" [(ngModel)]="booking.numberOfPersons"
                   class="form-control" formControlName="numberOfPersons" />
                   <label>numberOfPersons</label>
                </div>
                <div class="form-group form-floating">
                  <input type="text"
                  id="GameType" placeholder="Enter Description" [(ngModel)]="booking.description"
                  class="form-control" formControlName="description"/>
                  <label>Description</label>
                </div>

             <button class="btn btn-primary me-2" type="submit" (click)=editBooking() >Save Changes</button>
             <a routerLink="../dashboard" href="" class="btn btn-white-link">Cancel</a>
            </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>