<section class="vh-100" style="background-color: #9A616D;">
    <div class=" container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
    
           
        <div class="card my-auto shadow col col-12 justify-content-center">
            <div class="card-body p-5 col-sm-12   justify-content-center">
                <div class="text-center">
                    <h2>Forgot Password</h2>
                </div>
                <p class="subtitle">Please enter your registered email where<br> we will send you the reset password link</p>
                <form >
                    <div class="form-group mb-3">
                        <input type="email" id="email" placeholder="Email Address" class="form-control" name="" />
                    </div>
                    <input type="submit" class="btn btn-primary w-40 align-content-center" value="Reset Password Link" name="">
                </form>
            </div>
            <div class="card-footer text-right">
                <small>Ohh I remember <a routerLink="../login">Back to Login</a></small>
            </div>
        </div>
        </div>
    </div>
  


