<div class="bgbar vh-100">
<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Welcome Admin!</h5>
                    <p class="card-text">You can see Ground Here!</p>
                    <a class="btn btn-primary" routerLink="../dashboard">Go to Ground</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>